body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-align: center;
  background-color: #333;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container {
  display: flex;
  flex-direction: column;
}

#outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 50px;
  padding:0;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 550px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;


}

.hash {
  font-size: xx-large;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
/* #text {
  transition: color 1s;
} */

.btn {
  margin-bottom: 20px;
  color: white;
  border: 1px solid gainsboro;
}

/* .side {
} */

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 10px 15px 20px; /* Top has 5px margin, right has 10px margin, bottom has 15px margin, left has 20px margin */

}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex: 10;
}

.left button {
  width: 78px;
}

.right {
  flex: 2;
  margin-left: 150px;
}
/* 
.container {
} */