body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-align: center;
  background-color: #333;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container {
  display: flex;
  flex-direction: column;
}

#outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 50px;
  padding:0;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 550px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;


}

.hash {
  font-size: xx-large;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  margin-bottom: 20px;
  color: white;
  border: 1px solid gainsboro;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 20px 15px 20px;
} 

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex: 5;
  margin-right: 20px;
}

.left button {
  width: 78px;
}

.right {
  flex: 1;
  margin-left: 150px;
}


@media (max-width: 600px) {
  /* CSS rules for screens with a maximum width of 600px or smaller go here */
  body {
    width: 450px;
  }
  #quote-box{
    width: 350px;
    height: auto;
    padding: 50px;
  }
  .btn-row {
    margin: 0px;
  }
  .left {
    flex: 5;
  }
  .right {
    flex: 0;
  }
  button {
    width: 150px;
    font-size: xx-small;
    /* overflow: hidden; */
    white-space: nowrap;
  }
  .right {
    margin-left: 0px;
  }
  .btn-row {
    gap: 10px;
  }
}